
@font-face {
  font-family: 'material';
  src:  url('./fonts/material.eot?yjynup');
  src:  url('./fonts/material.eot?yjynup#iefix') format('embedded-opentype'),
    url('./fonts/material.ttf?yjynup') format('truetype'),
    url('./fonts/material.woff?yjynup') format('woff'),
    url('./fonts/material.svg?yjynup#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


